.tableContainer {
  padding: 20px;

  .searchInput {
    width: 200px;
    margin-bottom: 20px;
  }

  .categorySelect {
    width: 200px;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .table {
    margin-top: 20px;
  }

  .imageColumn {
    img {
      width: 50px;
    }
  }

  .detailsLink {
    color: #1890ff;
    text-decoration: underline;
  }
}

.items-table {
  padding: 20px;

  .ant-table {
    overflow-x: auto;
  }

  @media (max-width: 576px) {
    .ant-select,
    .ant-input {
      width: 100% !important;
      margin-bottom: 10px;
    }
  }

  @media (min-width: 576px) and (max-width: 768px) {
    .ant-select,
    .ant-input {
      width: 100% !important;
      margin-bottom: 15px;
    }
  }
}

